@import "../constants/constants.scss";

$paddings: 20vh;
$heightIPMain: calc(100% - $paddings);

.IP {
  text-align: center;
}

.IP-main {
  background-image: url(../../public/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  height: $heightIPMain;
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: $paddings;
}

.IP-text {
  font-size: $font-size-max;
  color: white;
  font-weight: $font-weight-large;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.IP-button {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #ff7f50;
  font-size: $font-size-medium;
  font-weight: $font-weight-larger;
  text-decoration: none;
  border-radius: 30px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  color: black;

  &:hover {
    background-color: #ff6347;
    transform: scale(1.05);
  }
}

@media (max-width: 576px) {
  .IP-text {
    margin: 20px;
  }
}
