.Search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.Search-input:focus {
  border-color: #9a9b9c;
  outline: none;
}

.Search-breeds {
  position: absolute;
  top: calc(100% - 40px); /*deduct paddings*/
  left: 15px;
  right: 15px;
  list-style-type: none;
  padding: 10px 0;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 100;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.Search-breeds li {
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #e0e0e0;
}

.Search-breeds li:hover {
  background-color: #f0f0f0;
}

.Search-breeds li:last-child {
  border-bottom: none;
}

.Search-breeds li:active {
  background-color: #e0e0e0;
}

.Search-breeds li:focus {
  outline: none;
  background-color: #e0e0e0;
}
