@import "../constants/constants.scss";

.Header {
  @include flexBetween();
  border-bottom: 2px solid $main-border-color;
  width: 100%;
  background: linear-gradient(145deg, $white-less-sec-color, #d8d0c3);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  position: relative;
  height: 80px;
  padding: 0 20px;
  box-sizing: border-box;
}

.Header-title {
  padding: 10px;
  font-size: 28px;
  font-weight: $font-weight-large;
  color: $second-text-color;
}

.Header-title-ref {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 576px) {
  .Header-title {
    font-size: $font-size-large;
  }
}
