@import "../../../constants/constants.scss";

.BC-container {
  background-color: white;
  padding: 20px;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.BC-row {
  @include flexBetween();
  padding: 10px;
  border: 1px solid $main-border-color;
  border-radius: 8px;
  background-color: $white-color;

  p {
    margin: 0;
    font-size: $font-size-min;
    color: $second-text-color;
  }
}

.BC-property {
  color: $blue-color;
  font-weight: bold;
}

.BC-description {
  font-weight: $font-weight-medium;
  color: $main-text-color;
  width: 250px;
  text-align: justify;
  padding: 0 10px;
}

@media (max-width: 576px) {
  .BC-container {
    padding: 5px;
    gap: 5px;
  }
}
