@import "../constants/constants.scss";

.Profile-container {
  margin: 20px;
  padding: 30px;
  background-color: $white-color;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  h1 {
    color: $main-text-color;
  }
}

.Profile-gallery {
  @include grid();
  gap: 20px;
  margin-top: 20px;
}
