@import "../../constants/constants.scss";

.AuthButton {
  text-decoration: none;
  color: $second-text-color;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid $white-less-color;
  border-radius: 25px;
  background-color: $white-less-color;
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.3s ease;

  &:hover {
    background-color: #b7b2aa;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  &:active {
    background-color: #d9d4b7;
    transform: scale(0.98);
  }
}

@media (max-width: 576px) {
  .AuthButton {
    padding: 14px 12px;
    font-size: 14px;
  }
}
